.header {
  text-align: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1em;
  padding: 1em;
}

.nav a {
  display: inline-block;
  font-size: 1.5em;
  padding: 0.5em 0.25em;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

@media screen and (max-width: 850px) {
  .list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 550px) {
  .list {
    grid-template-columns: 1fr;
  }
}